<?xml version="1.0"?>
<launch>
    <node name="robot_control_srv" pkg="grasping_pipeline" type="robot_control_srv.py" output="screen"/>
    <node name="grasp_method_selector_srv" pkg="grasping_pipeline" type="grasp_method_selector_srv.py" output="screen"/>
    <node name="collision_environment_srv" pkg="grasping_pipeline" type="collision_environment_srv.py" output="screen"/>
    <node name="table_srv" pkg="grasping_pipeline" type="table_srv.py" output="screen"/>
    <node name="tts_srv" pkg="grasping_pipeline" type="tts_srv.py" output="screen"/>

    <node name="execute_grasp_server_remap" pkg="grasping_pipeline" type="execute_grasp_action_server.py" output="screen"> 
    <remap from="execute_grasp" to="execute_grasp_gpt"/>
</node>

</launch>
